.simple_overlay {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:#333;
 
    width:675px;
    min-height:200px;
    border:1px solid #666;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.details {
  position:absolute;
  top:15px;
  right:15px;
  font-size:11px;
  color:#fff;
  width:150px;
  }
 
  .details h3 {
  color:#aba;
  font-size:15px;
  }
  
#mies1,#mies2
{
	padding-top:15px;
	width:540px;
	height:340px;
}
#mies3
{
	padding-top:15px;
	width:980px;
	height:600px;
}
#mies4
{
	padding-top:15px;
	width:650px;
	height:500px;
}
h6[rel*=mies]
{
	cursor:pointer;
}
.vid
{
	width:100%;
	height:100%;
}
#ajaxload
{
	width:100%;
	height:100%;
	background-color:rgba(0,191,255,0.7);
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	display:none;
}
#ajaxload #contentpage
{
	width:1000px;
	height:600px;
	background-color:rgba(255,255,255,0.5);
	position:fixed;
	z-index:101;
	top:20px;
	left:190px;
	display:none;
	overflow:hidden;
	padding:8px;
	padding-top:70px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#ajaxload .close
{
	position:fixed;
	z-index:102;
	top:70px;
	right:190px;
	cursor:pointer;
	color:black;
	font-weight:bold;
}